<div class="row justify-content-center mt-5">
  <div class="col-md-8">
    <div class="thumbnail">
      <% if @piece.photo.present? %>
      <%= cl_image_tag(@piece.photo.key, class:"card__image shadow p-3 mb-4 bg-white rounded") %>
      <% end %>
      <div class="d-flex justify-content-between">
        <div class="caption w-50 ">
          <h1 class="mt-2"><%= @piece.name %></h1>
          <p><%= @piece.description %></p>
          <div>

            <% if @piece.user == current_user %>
            <%= link_to "Edit", edit_piece_path(@piece), class: "btn btn-ghost-green"%>
            <% end %>
            <% if @piece.user == current_user %>
            <%= link_to "Delete", @piece, method: :delete, data: { confirm: "Are you sure you want to delete #{@piece.name}?" }, class: "btn btn-ghost-green" %>
            <% end %>

          </div>
        </div>
        <div class="details">
          <h2 class="piece_price_show"><%= @piece.price %>$ Per Day</h2>
          <p class="mb-1"><b>Height:</b> <%= @piece.height %>cm | <b>Length:</b> <%= @piece.length %>cm</p>
          <p class="m-0"><b>Category:</b> <%= @piece.category %></p>
          <p><b>By:</b> <%= @piece.artist %></p>
        </div>
      </div>
      </a>
    </div>
  </div>
</div>
